In [1]:
import pandas as pd

In [2]:
match_summary=pd.read_csv("dim_match_summary.csv")
players = pd.read_csv("dim_players.csv")
batting_summary = pd.read_csv("fact_bating_summary.csv")
bowling_summary = pd.read_csv("fact_bowling_summary.csv")

In [3]:
match_summary.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [4]:
players.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,description
0,Najmul Hossain Shanto,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Top order Batter,Nazmul Hossain Shanto emerged from an unusual ...
1,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,"A rarity among Bangladesh allrounders, top-ord..."
2,Litton Das,Bangladesh,NaN,Right hand Bat,NaN,Wicketkeeper Batter,Liton Das is the first wicketkeeper-batsman in...
3,Shakib Al Hasan(c),Bangladesh,NaN,Left hand Bat,Slow Left arm Orthodox,Allrounder,When the annals of Bangladesh cricket are sift...
4,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...

In [5]:
batting_summary.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823

In [6]:
bowling_summary.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4.0,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4.0,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4.0,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4.0,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4.0,0,27,1,6.75,8,1,1,0,0,T20I # 1823

In [7]:
batting_summary[batting_summary.SR == '-']

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out,T20I # 1823
27,U.A.E. Vs Netherlands,U.A.E.,9,Karthik Meiyappan,0,0,0,0,-,not_out,T20I # 1825
160,Sri Lanka Vs Netherlands,Netherlands,10,Paul van Meekeren,0,0,0,0,-,out,T20I # 1835
281,Bangladesh Vs Netherlands,Netherlands,5,Tom Cooper,0,0,0,0,-,out,T20I # 1843
484,Afghanistan Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),0,0,0,0,-,not_out,T20I # 1856
593,Australia Vs Afghanistan,Afghanistan,9,Naveen-ul-Haq,0,0,0,0,-,not_out,T20I # 1864
602,Sri Lanka Vs England,Sri Lanka,9,Maheesh Theekshana,0,0,0,0,-,not_out,T20I # 1867
643,Bangladesh Vs Pakistan,Pakistan,7,Shadab Khan,0,0,0,0,-,not_out,T20I # 1872
650,India Vs Zimbabwe,India,7,Axar Patel,0,0,0,0,-,not_out,T20I # 1873
672,New Zealand Vs Pakistan,Pakistan,5,Iftikhar Ahmed,0,0,0,0,-,not_out,T20I # 1877
679,India Vs England,India,7,Ravichandran Ashwin,0,0,0,0,-,not_out,T20I # 1878